* {
  margin: 0px;
  padding: 0px;
  font-family: Helvetica;
}

.header {
  background-image: url("./resources/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header li {
  color: white;
  font-size: 18px;
  list-style-type: none;
}

.main h2 {
  font-size: 32px;
  font-weight: bold;
}

.main h3 {
  font-size: 23px;
  font-weight: bold;
}

.main h4 {
  background-image: url("./resources/images/the-flatiron-building.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 23px;
  color: white;
  font-weight: bold;
}

.main p {
  font-size: 14px;
}

.footer {
  background-color: dimgray;
}

.footer ul {
  display: inline;
}

.footer li {
  font-size: 11px;
  color: white;
  list-style-type: none;
}
